 {% extends 'examApplication/base.html' %}
 {% load crispy_forms_tags %}
 {% block content %}


 <center> <h1> {{ user | capfirst}} Login</h1></center> 
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <center>
            <button type="submit" class="btn btn-primary">
                <span class = "glyphicon glyphicon-log-out" aria-hidden="true" ></span>Login
            </button>
        </center>
    </form>

    {% if error %} 
    <div class = "alert alert-danger" >
            {{ error }}
     </div>
    {% endif %}

    {% if message %}
    <div class = "alert alert-info">
    	{{ message }}
    </div>
    {% endif %}

    {% endblock %}

