
    <h1 style="font-size:30px"> University Visvesvaraya College Of Engineering</h1>
    <br/>
    <label style="font-size:20px">Student Name: </label> <strong> {{ student.StudentName }}</strong><br/>
    <label style="font-size:20px">Branch Name: </label>    <strong> {{ student.BranchName }}</strong><br>
    <label style="font-size:20px">Register Number: </label> <strong> {{ student.Regno }} </strong><br/>
    <table>
        <tr>
            <th> Subject Code</th>
            <th>Subject Name</th> 
            <th>Timings</th> 
            <th> Invigilator Signature</th>
        </tr>
        <tr>
            <td class="alert alert-info"> 1234</td>
            <td> Engineering mathematics</td>
            <td> 9:30 A.M to 12:30 P.M </td>
            <td> <textarea></textarea></td>
        </tr>
    </table>
</body>
</html>

